<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
$( function() {


    var availableTags =  ['Абілхаят суы', 'Абырой болғанда', 'Абыройы айрандай төгілу', 'Ағама жеңгем сай', 'Ағаш атқа мінгізу',
        'Ағаштан түйін түю', 'Ағыл-тегіл жылау', 'Ағынан жарылу', 'Ағып тұр (тұрған)', 'Адам айтқысыз', 'Ажал айдау',
        'Ажал аузы', 'Айна қатесіз', 'Айрандай аптап күбідей күптеп', 'Айтқанына көндіріп ұстау', 'Айылын жимау',
        'Ақ көңіл', 'Ақылға сыймау', 'Aла қаптың аузын ашу', 'Арасынан қыл өтпеу', 'Арқа сүйеу', 'Асығы алшысынан түсу',
        'Асығы түгел', 'Aт салысу', 'Аталы сөз', 'Ауыз тию', 'Аяқтыға жол ауыздыға сөз бермейтін', 'Aшуға булығу',
        'Aяқ астынан', 'Бас ию', 'Бас қосу', 'Бас тарту', 'Басынан сөз асырмау', 'Бауы берік болсын', 'Бел буу',
        'Бетке шіркеу болу', 'Бүйректен сирақ шығару', 'Дайын асқа ие болу', 'Дес бергенде', 'Дес бермеу', 'Дес беру',
        'Дес тию', 'Душар болу', 'Дүние есігін ашу', 'Дүние салу', 'Дінi қатты', 'Дымы құру', 'Дірдек қағу',
        'Жүзіктің көзінен өткендей', 'Ебін табу', 'Егіз қозыдай', 'Екі дүниеде', 'Екі қолға бір күрек',
        'Екі шоқып бір қарау', 'Ер жүрек', 'Есі кету', 'Ел аузына іліну', 'Мұрнынан құрты түсу', 'Есін жию',
        'Жалаң аяқ', 'Жан ашыр', 'Жаны сірі', 'Жеме-жемге келгенде', 'Жерге қарату', 'Жоқтың қасы', 'Жол болсын',
        'Жол түсу', 'Жұлдыздай ағып өту', 'Жұлдызы оңынан туды', 'Ит өлген жер', 'Ит жанды', 'Көз айырмау',
        'Көзі жету', 'Көз қырын салу', 'Көз ілмеу (ілінбеу)', 'Көзайым болу', 'Көзге күйік болу', 'Көзді ашып жұмғанша',
        'Көзіне шөп салу', 'Көзіңді ашып қарау', 'Көңіл бөлу', 'Көңіл қалу', 'Көре алмау', 'Көрсе қызар', 'Қам жеу',
        'Қапы қалу', 'Қапысы жоқ', 'Қапысын табу', 'Қарны ашты', 'Қол қою', 'Қол қусыру', 'Қол тимеу', 'Қол ұшын беру',
        'Қолдан келу', 'Қоясын ашу', 'Құдай білсін', 'Құдай төбеңнен ұрғыр', 'Құйып қойғандай', 'Құлағым сізде',
        'Құлағына алтын сырға', 'Құлақ аспау', 'Құлақ асу', 'Құлақ тігу', 'Құрақ ұшу', 'Қытығына тию',
        'Маңдайға жазылған', 'Мойнына алу', 'Мұрнымды кесіп берейін', 'Ойда жоқ жерден', 'Оң қарау',
        'Өкпесі қара қазандай болу', 'Сары бел', 'Сазайын тартқызу', 'Сегіз қырлы бір сырлы', 'Сіркесі су көтермеу',
        'Су жүрек', 'Суық тию', 'Сүттей ұю', 'Сыр беру', 'Сыртынан күлу', 'Табанды жалтырату', 'Тас жүрек',
        'Тақырға отырып қалу', 'Таяқ жеу', 'Тайға таңба басқандай', 'Телегей-теңіз', 'Таяқ тастам жер',
        'Төбеге ұрғандай болу', 'Түбіне жету ', 'Тіл үйіру ', 'Тірі аруақ', 'Тіс жармау', 'Тіс қаққан',
        'Маңдайы ашылған', 'Ұлардай шулау ', 'Үрерге иті жоқ', 'Үріп ауызға салғандай', 'Үш қайнаса сорпасы қосылмайды',
        'Шаш ал десе бас алу', 'Ши борбай', 'Шикі өкпе', 'Шөп басын сындырмау ', 'Шынашағына татымайды', 'Шыр бітпеу',
        'Ізін суытпау', 'Іш тарту', 'Іші пысу', 'Ішіне шынашақ айналмайды'] ;    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );


 </script>
</head>
<body>

<div class="card text-center">
    <div class="container col-12 card-header">
        <div class="row">
            <div class="col-6 mx-auto  text-right">
                <form action="{{ url_for('index') }}"   method="post">
                    <div class="form-group ">
                        <input id="tags" class="form-control mt-2 text-left" type="text" placeholder="Фразеологизмді енгізіңіз" name="name" value="{{ request.form.get('name', '') }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}


</body>
</html>